parameters:
	level: 8
	paths:
		- app
		- tests
	ignoreErrors:
		-
			identifier: variable.undefined
			paths:
				- app/Lib/Router/
		-
			identifier: argument.type
			paths:
				- app/Lib/Helpers/ClassFinder.php
		-
			identifier: missingType.generics
			paths:
				- app/Lib/Helpers/ClassFinder.php
		-
			identifier: constant.notFound
		-
			identifier: staticMethod.notFound
			paths:
				- app/
